QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #f6f7fa, stop: 1 #dadbde);
    min-width: 80px;
}


QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #dadbde, stop: 1 #f6f7fa);
    }

QPushButton:flat {
    border: none;
    }

QPushButton:default {
    border-color: navy;
    }

.MainWindow {
    /*background-color:#CCC8CA;*/
    background-image:url('fond3.png');
    }

QStatusBar::item {
    border-radius: 3px;
    }

QTabWidget::pane {
    border-top: 2px solid #C2C7CB;
    position: absolute;
    top: -0.5em;
    }

QTabWidget::tab-bar {
    alignment: center;
    }

QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
        stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width: 4ex;
    padding: 2px;
    }

QDockWidget {
        border: 1px solid black;
    }
